@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Open+Sans&family=Poppins:ital@0;1&family=Roboto:wght@300;400&display=swap');
*{
    font-family: 'Poppins';
    
}

.heading{
    display: flex;
    justify-content:space-between;
    align-items:center;
}
body{
    background: url("https://media.istockphoto.com/id/1034183688/photo/empty-setp-marble-marble-table-top-with-white-ceramic-tile-wall-background-mock-up-banner-ads.jpg?b=1&s=612x612&w=0&k=20&c=NKdnu0EjjVj6Z-mBGWRrYsjxl-wS7QgxhOtCZsFYX-0=");
    background-size:cover;
    background-position: center;
}   

h1{
    font-size: 40px;
}

.next:hover{
    transition: 3s;
    transform: scale(1.05);
    
}

.chicken{
    
    border: 5px solid black;
    border-radius: 7px;

}

.chicken:hover{
    transition:1s;
    transform: scale(1.02);
}
.slogan{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p{
    font-size:20px;
    font-weight: 600;
}
h2{
    text-decoration:underline;
    position: absolute;
    top:150px;
    font-size: 25px;
}

.rating{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    body {
        background-size: contain; 
    }

    h1 {
        font-size: 30px; 
    }
    .heading{
        display: flex;
        justify-content: space-evenly;
    }

    .chicken {
        display: none;
    }

    p {
        font-size: 16px; 
        font-weight: normal; 
        text-align: center; 
    }

    h2 {
        position: static; 
        text-align: center; 
        margin-top: 20px; 
    }
}